body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: url('arboleda.jpg') center/cover fixed;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(3px); /* Ajusta el desenfoque según tus preferencias */
    z-index: -1;
}

/* Nuevo bloque para la sombra degradada en la parte superior */
#degradado-sombra {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20px; /* Ajusta la altura según tus preferencias */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)); /* Sombras degradadas */
    z-index: 999; /* Asegura que esté por encima del contenido */
}

.contenedor {
    text-align: center;
    color: #fff;
}

.registro-caja {
    position: relative;
    background-color: rgba(128, 128, 128, 0.7); /* Fondo gris semitransparente */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

button {
    margin-bottom: 10px; /* Añado margen inferior al botón */
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Nuevo bloque para la interfaz de cambio de idioma */
#idioma-menu {
    position: fixed;
    top: 80px; /* Ajusta la posición vertical según tus preferencias */
    left: 50%; /* Alineo el bloque en el centro */
    transform: translateX(-50%);
}

#idioma-menu img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%; /* Hace que los bordes sean circulares */
}


#notificacion-contenedor {
    position: fixed;
    bottom: 10px; /* Alineo la notificación en la parte inferior */
    left: 50%;
    transform: translateX(-50%);
}

#notificacion {
    margin-bottom: 10px; /* Añado margen inferior a la notificación */
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out; /* Reduzco la duración de la animación */
}

#notificacion.correcto {
    background-color: rgba(0, 128, 0, 0.8); /* Verde pastel para correcto */
    color: #fff;
}

#notificacion.incorrecto {
    background-color: rgba(128, 0, 0, 0.8); /* Rojo pastel para incorrecto */
    color: #fff;
    animation: shake 0.5s; /* Agrego la animación de vibración */
}

@keyframes shake {
    10%, 90% {
        transform: translateX(-5px);
    }
    20%, 80% {
        transform: translateX(5px);
    }
    30%, 50%, 70% {
        transform: translateX(-5px);
    }
    40%, 60% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}
